@import url('https://fonts.googleapis.com/css?family=Inter:700|Funnel%20Display:400');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
h1,
p,
span,
div {
  font-family: italiana;
}

/* Custom Background Classes */
@layer utilities {
  .bg-background-light {
    background-color: #ffffff; /* Light mode background */
  }
  .bg-background-dark {
    background-color: #0a0a0a; /* Dark mode background */
  }
  .text-foreground-light {
    color: #0a0a0a; /* Light mode text */
  }
  .text-foreground-dark {
    color: #e4e4e4; /* Dark mode text */
  }
}
